In [ ]:
#https://www.abs.gov.au/statistics/people/population/population-census/latest-release
#Need to look at SAL (Suburbs and Location Data) to get to population data by suburb
#https://www.abs.gov.au/statistics/standards/australian-statistical-geography-standard-asgs-edition-3/jul2021-jun2026/non-abs-structures/suburbs-and-localities
#https://geo.abs.gov.au/arcgis/rest/services/ASGS2021/MB/MapServer
#https://geo.abs.gov.au/arcgis/rest/services/ASGS2021/SAL/MapServer
#https://www.abs.gov.au/statistics/people/population/regional-population/latest-release#data-downloads
#https://www.reddit.com/r/gis/comments/1bmgd9s/australian_population_data_by_townsuburb/
#https://www.abs.gov.au/census/guide-census-data/mesh-block-counts/latest-release
#https://www.planning.vic.gov.au/guides-and-resources/data-and-insights/victorian-population-data
#https://mapshare.vic.gov.au/demography-map/
#https://en.wikipedia.org/wiki/List_of_Melbourne_suburbs
#https://www.abs.gov.au/ausstats/abs@.nsf/66f306f503e529a5ca25697e0017661f/99FE76C6D6BE36A4CA256C2500036F77?opendocument
#https://www.abs.gov.au/about/data-services/data-explorer-user-guide/exploring-data
#https://www.abs.gov.au/about/data-services/data-explorer/data-explorer-user-guide/finding-data
#https://www.abs.gov.au/statistics/people/population/regional-population/2022-23#data-downloads
#https://www.abs.gov.au/websitedbs/D3310114.nsf/Home/Services%20for%20Libraries%20-%20Historical%20Census%20Data#:~:text=Census%20Data%20Online%20provides%20access,Censuses%20of%20Population%20and%20Housing.&text=Historical%20Censuses%20(Pre%201996)%20provides,progressively%20added%20to%20this%20portal.
#https://www.abs.gov.au/AUSSTATS/abs@.nsf/Previousproducts/927ACD729DD72D51CA25720B00028C45?opendocument

In [5]:
import pandas as pd

In [1]:
#filepath = "../Project_1/2021_GCP_SAL_for_VIC_short-header/2021_GCP_SAL_for_VIC_short-header"

In [24]:
# File to Load (Remember to Change These)
population_data_to_load_2021 = ("../Project_1/2021Census_G03_VIC_SAL.csv")
#student_data_to_load = Path("../Project_1/2021Census_G03_VIC_SAL.csv")

# Read School and Student Data File and store into Pandas DataFrames
population_data_2021 = pd.read_csv(population_data_to_load_2021)
#student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
#school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [25]:
population_data_2021.head()

,SAL_CODE_2021,Count_home_Census_Nt_0_14_yr,Count_hom_Census_Nt_15_24_yr,Count_hom_Census_Nt_25_34_yr,Count_hom_Census_Nt_35_44_yr,Count_hom_Census_Nt_45_54_yr,Count_hom_Census_Nt_55_64_yr,Count_hom_Census_Nt_65_74_yr,Count_hom_Census_Nt_75_84_yr,Count_hom_Census_Nt_85ov,...,Total_0_14_yr,Total_15_24_yr,Total_25_34_yr,Total_35_44_yr,Total_45_54_yr,Total_55_64_yr,Total_65_74_yr,Total_75_84_yr,Total_85ov,Total_Total
0,SAL20001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,SAL20002,705,816,3164,1707,852,645,473,238,92,...,720,843,3224,1750,885,662,487,244,97,8916
2,SAL20003,632,627,344,455,645,585,327,138,73,...,633,634,353,459,653,588,333,142,73,3880
3,SAL20004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,0,10
4,SAL20005,13,8,7,8,22,16,31,19,4,...,13,8,16,8,20,19,32,22,4,144